*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.para{
    font-size: medium;
}
.hours{
    font-size: large;
}
.price{
    font-size: large;
    transform: translateY(36%)
}
.client{
    font-size: large;
    transform: translateY(22%)
}
:root {
    --primary-color: #2124b1;
    --secondary-color: #f6d673;
    --Thirdly-color: #f7faff;
    --fourthly-color: #1d1d27;
}
.cards-freelancer .main-dashcard {
    margin-top: 10%;
    width: 90%;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    color: white;
    background-color: #080a74d8;
    padding: 15px;
    height: 310px !important;
}
.top button i {
    /* background-color: var(--secondary-color); */
    color: var(--secondary-color);
    font-weight: 100;
    /* height: 40px; */
    position: absolute !important;
    top: 21px !important;
    right: 2px !important;
}
.cssbuttons-io-button-freelancer {
    background: var(--secondary-color);
    color: var(--fourthly-color);
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em var(--secondary-color);
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    position: absolute;
    left: 61% !important;
    /* bottom: 0.2%; */
    top: 76% !important;
    width: 27% !important;
}
.title{
    transform: translateY(22%);
}
.teams{
    transform: translateY(-22%);
}

body {
    background-color: #f7faff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ag-format-container {
    /* width: 1420px; */
    margin: 0 auto;
    width: 100%;
}

.main {
    text-align: center;
    padding-top: 8%;
}

/* button {
    --color: #2124b1;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
}

button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

button:hover {
    color: #fff;
}

button:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}

button:hover:before {
    top: -30px;
    left: -30px;
}

button:active:before {
    background: #3a0ca3;
    transition: background 0s;
} */
span{
    /* background-color: red; */
    padding-left: 4%;
}
.main button a{
    text-decoration: none;
}
.main button a:hover{
    color:white ;
}
.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: center !important;
    justify-content: center !important;
    flex-wrap: wrap;
    /* padding: 50px 0; */
}

.ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);
    
    margin: 0 15px 30px;

    overflow: hidden;

    border-radius: 28px;
}

.ag-courses-item_link {
    height: 60vh;
    text-decoration: none;
    display: block;
    padding: 30px 20px;
    background-color: #080a74;
    overflow: hidden;
    position: relative;
}

.profile-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.profile-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;

    overflow: hidden;

    font-weight: bold;
    font-size: 30px;
    color: #FFF;

    z-index: 2;
    position: relative;
}

i{
    margin-left: 5px;
    margin-right: 5px;
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
padding: 5px 0;
    z-index: 2;
    position: relative;
}

.ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;

    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #f9b234;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #f9b234;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #f9b234;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #f9b234;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #f9b234;
}
/* pagination from freelancers.css */
.pagination{
    /*margin-left: 600px;*/
    margin-top: 30px;
}

.page-item:first-child .page-link{
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out ;
    border: 1px solid #dee2e6 ;

}

.page-link{
    padding: .375rem .75rem;
}

.page-link {
    position: relative;
    display: block;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-decoration: none;
    border: 1px solid #dee2e6 ;
    transition:color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out ;
}



@media only screen and (max-width: 979px) {
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

}

@media only screen and (max-width: 639px) {
    .ag-courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;

        font-size: 24px;
    }

    .ag-courses-item_link {
        padding: 22px 40px;
    }

    .ag-courses-item_date-box {
        font-size: 16px;
    }
}
  
  .ag-courses-item_anchor {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #f9b234; 
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .ag-courses-item_anchor:hover {
    background-color: #0056b3; 
  }
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    gap: 5%;
    /* background-color: #7b52b9; */
    height:150%;
    /* position: relative; */
}
