:root {
    --primary-color: #080a74;
    --secondary-color: #f6d673;
    --Thirdly-color: #d6d9e0;
    --fourthly-color: #1d1d27;
}
/*** Navbar ***/

/*2*/

.navbar{
    /* background-color: var(--primary-color); */
    background-image: url(../imgs/nav.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    color: var(--Thirdly-color) !important;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--Thirdly-color) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--secondary-color) !important;
}

.navbar-light .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--Thirdly-color) !important;
    }

    .navbar-light .navbar-brand h1 {
        color: var(--secondary-color);
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--secondary-color);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-light .navbar-brand h1 {
        color: var(--Thirdly-color);
    }
}



/* bm  */


h2{
    color: var(--Thirdly-color);
}

/* bookmark  */
.top{
    position: absolute;
    top: -10%;
    display: flex;
}
.top button i{
    /* background-color: var(--secondary-color); */
    color: var(--secondary-color);
    font-weight: 100;
    /* height: 40px; */
}

.image {
    background-color: black;
    border-radius: 50%;
    width: 20%;
    height: 20%;
    background-color: black;
    border-radius: 50%;
}

.main-dashcard .image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.cards {
    background-color: #ece9e0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}


.cards .main-dashcard {
    margin-top: 10%;
    width:90%;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    color: white;
    background-color:#080a74d8;
    padding: 15px;

}


.cards .main-dashcard:hover {
    transform: scale(1.1, 1.1);
}

.content{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
button {
    padding: 4px 20px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    border-radius: 0.9em;
    background-color: var(--secondary-color);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    font-family: inherit;
    margin-left: 20px;
}

button:hover {
    /* letter-spacing: 3px; */
    /* background-color: var(--secondary-color); */
    color: var(--secondary-color);
    box-shadow: rgb(255, 255, 255) 0px 5px 20px 0px;
}

button:active {
    letter-spacing: 3px;
    background-color: var(--secondary-color);
    /* color: hsl(0, 0%, 100%); */
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
}



.cssbuttons-io-button {
    background: var(--secondary-color);
    color: var(--fourthly-color);
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em var(--secondary-color);
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;

    position: absolute;
    left: 60%;
    /* bottom: 0.2%; */
    top: 85%;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em var(--secondary-color);
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

a {
    text-decoration: none;
    color: var(--fourthly-color);
}

.offcanvas-title{
    color: var(--secondary-color);
}

