@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
}

.container {
    min-height: 100vh;
    padding-top: 15px;
    background: #054955dc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
    background-size: cover;
    background-repeat: no-repeat;
}

.container form {
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
    padding: 20px;
    width: 600px;
    padding-top: 150px;

    background-color: #ffffffa8;
}


.container form .inputBox {
    margin-top: 20px;
}

.container form .inputBox span {
    display: flex;
    color: white;
    padding-bottom: 5px;
}

.container form .inputBox input,
.container form .inputBox select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .3);
    color: black;
}

.container form .flexbox {
    display: flex;
    gap: 15px;
}

.container form .flexbox .inputBox {
    flex: 1 1 150px;
}


.container .card-container {
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;

}

.container .card-container .front {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    padding: 20px;
    transform: perspective(1000px) rotateY(0deg);
    transition: transform .4s ease-out;
    background-image: linear-gradient(170deg, #fda521, #6db1a6);
}

.container .card-container .front .image {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.container .card-container .front .image img {
    height: 50px;
}

.container .card-container .front .card-number-box {
    padding: 30px 0;
    font-size: 22px;
    color: #fff;
}

.container .card-container .front .flexbox {
    display: flex;
}

.container .card-container .front .flexbox .box:nth-child(1) {
    margin-right: auto;
}

.container .card-container .front .flexbox .box {
    font-size: 15px;
    color: #fff;
}

.container .card-container .back {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    /* background-color: #2124b1; */
    background: linear-gradient(45deg, #6db1a6, #fda521);
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    transform: perspective(1000px) rotateY(180deg);
    transition: transform .4s ease-out;
}

.container .card-container .back .stripe {
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.container .card-container .back .box {
    padding: 0 20px;
}

.container .card-container .back .box span {
    color: #fff;
    font-size: 15px;
}

.container .card-container .back .box .cvv-box {
    height: 50px;
    padding: 10px;
    margin-top: 5px;
    color: #333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

.container .card-container .back .box img {
    margin-top: 30px;
    height: 30px;
}

.btns {
    width: 100%;
    height: 20%;
    padding-left: 2%;
    margin-top: 5%;
    display: flex;
    gap: 5%;
    margin-left: 28%;
}

button {
    padding: 4px 30px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    border-radius: 0.9em;
    background-color: var(--secondary-color);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    font-family: inherit;
}

button:hover {
    letter-spacing: 3px;
    background-color: var(--secondary-color);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(255, 255, 255) 0px 5px 20px 0px;
    ;
}




/* From Uiverse.io by adamgiebl */
.cssbuttons-io-button {
    background-color: #fda521b8;
    color: #6db1a6;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em var(--secondary-color);
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em var(--secondary-color);
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #6db1a6;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}



.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    position: absolute;
    top: 14px;
    right: 27px;
    padding: 10px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: var(--fourthly-color);
}

.btn {
    width: 160px;
    height: 40px;
    background: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background: var(--primary-color);
    transform: scale(1.05);
}


.btn:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    transition: all 0.5s;
}



button {
    padding: 4px 30px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    border-radius: 0.9em;
    background-color: var(--secondary-color);
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    font-family: inherit;
}

button:hover {
    letter-spacing: 3px;
    background-color: var(--secondary-color);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(255, 255, 255) 0px 5px 20px 0px;
}



.cssbuttons-io-button {
    background: #f6bf6d;
    color: #033043;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em var(--secondary-color);
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: #6db1a6;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em var(--secondary-color);
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: white;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}




.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    position: absolute;
    top: 14px;
    right: 27px;
    padding: 10px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: var(--fourthly-color);
}

.addto {
    transform: translateX(50%);
}

@media(max-width:750px){
    .container .card-container{
        width: 98%;
    }
    .container .card-container .front .card-number-box {
        padding: 30px 0;
        font-size: 18px;
        color: #fff;
    }
    .container form{
        width: 115%;
    }
    .container form .flexbox {
        display:inline;
    }
    .btns {
        width: 100%;
        height: 20%;
        padding-left: 2%;
        margin-top: 5%;
        display: flex;
        gap: 5%;
        margin-left: 11%;
    }
}

