:root {
    --primary: #2124B1;
    --secondary: #f6d673;
    --light: #F7FAFF;
    --dark: #1D1D27;
}


.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
    background-color: #08047a;
    color: #DDDDDD;
}


/*** Heading ***/
h1,
h2,
h3,
.fw-bold {
    font-weight: 700 !important;
}

h4,
h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/
.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    color: var(--light) !important;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--secondary) !important;
}

.navbar-light .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}
.cssbuttons-io-button {
  background: var(--secondary-color);
  color: var(--fourthly-color);
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em var(--secondary-color);
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
  margin-left: 70%;
  margin-top: 10%;
}

.cssbuttons-io-button .icon {
  background: #2124b1;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em var(--secondary-color);
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: white;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
    #prembtn {
      margin-top: -55px !important;
      width: 211px !important;
      font-size: 16px !important;
      margin-left: 22% !important;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--secondary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-light .navbar-brand h1 {
        color: var(--primary);
    }

}
.bg-primary {
  background-color: #08047a !important;
}

/*** Hero Header ***/
.hero-header {
    background:
        url(../imgs/bg-dot.png),
        url(../imgs/bg-dot.png),
        url(../imgs/bg-round.png),
        url(../imgs/bg-tree.png),
        url(../imgs/bg-bottom-hero.png);
    background-position:
        10px 10px,
        bottom 190px right 10px,
        left 55% top -1px,
        left 45% bottom -1px,
        center bottom -1px;
    background-repeat: no-repeat;
}
.pyramid{
    border-radius: 50%;
    width: 500px;
    position: absolute;
    top: 100px;
}


@media (max-width: 932px) {
  .pyramid{
  margin-top: 250px;
  margin-right: 80%;
  z-index: -1;
  display: none;
}
.cssbuttons-io-button {
  background: #f6d673;
  color: var(--fourthly-color);
  font-family: inherit;
  padding: 0.35em;
  /* padding-left: 1.2em; */
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em var(--secondary-color);
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 2.8em;
  cursor: pointer;
  /* width: 65% !important; */
  width: 170px;
  margin-left: 24%;
}

}

/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 4px;
    bottom: 0;
    left: 0;
    background: var(--dark);
}

.section-title::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    bottom: 0;
    left: 50px;
    background: var(--dark);
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -25px;
}

.section-title.text-center::after {
    left: 50%;
    margin-left: 25px;
}

.section-title h6::before,
.section-title h6::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 2px;
    left: 0;
    background: var(--secondary);
}

.section-title h6::after {
    top: 5px;
    left: 3px;
}


/*** Service ***/
.service-item {
    position: relative;
    height: 350px;
    padding: 30px 25px;
    background: #FFFFFF;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.service-item:hover {
    
    background: linear-gradient(105deg, var(--secondary) 0%, var(--primary) 100%);
}

.service-item .service-icon {
    margin: 0 auto 20px auto;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    background: url(../imgs/icon-shape-primary.png) center center no-repeat;
    transition: .5s;
}

.service-item:hover .service-icon {
    color: var(--primary);
    background: url(../imgs/icon-shape-white.png);
}

.service-item h5,
.service-item p {
    transition: .5s;
}

.service-item:hover h5,
.service-item:hover p {
    color: var(--light);
}

.service-item a.btn {
    position: relative;
    display: flex;
    color: var(--primary);
    transition: .5s;
    z-index: 1;
}

.service-item:hover a.btn {
    color: var(--secondary);
}

.service-item a.btn::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    border-radius: 35px;
    background: #DDDDDD;
    transition: .5s;
    z-index: -1;
}

.service-item:hover a.btn::before {
    width: 100%;
    background: var(--light);
}


/*** Testimonial ***/
.newsletter,
.testimonial {
    background:
        /* url(../imgs/524881.jpg), */
        url(../imgs/524881.jpg);
    background-position:
        left top,
        right bottom;
    background-repeat: no-repeat;
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--light) !important;
    border-color: var(--light);
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #888888;
}

.testimonial-carousel .owl-item.center .testimonial-item i {
    color: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item h6 {
    color: var(--dark) !important;
}


/*** Project Portfolio ***/
#portfolio-flters .btn {
    position: relative;
    display: inline-block;
    margin: 10px 4px 0 4px;
    transition: .5s;
}

#portfolio-flters .btn::after {
    position: absolute;
    content: "";
    right: -1px;
    bottom: -1px;
    border-left: 20px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 50px solid #FFFFFF;
}

#portfolio-flters .btn:hover,
#portfolio-flters .btn.active {
    color: var(--light);
    background: var(--secondary);
}

.portfolio-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    top: 0;
    left: 0;
    
    background: linear-gradient(105deg, var(--secondary) 0%, var(--primary) 100%);
    transition: .5s;
    z-index: 1;
    opacity: 0;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
}

.portfolio-item .btn {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../imgs/icon-shape-white.png) center center no-repeat;
    border: none;
    transition: .5s;
    opacity: 0;
    z-index: 2;
}

.portfolio-item:hover .btn {
    opacity: 1;
    transition-delay: .15s;
}



/*** Footer ***/
.footer {
background-image:url(../imgs/footerr.jfif) ;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 130px; */
    /* padding-top: 300px; */
    /* padding-bottom: 60px; */
  }
  .haha{
    margin-top: 30px;
  }

.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}


/* features  */

#features {
    padding-top: 130px;
  }
  
  .features .features-content {
    z-index: 2;
    position: relative;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    /* height: 500px; */
}
  
  .features-item {
    text-align: center;
    padding: 30px;
    border-radius: 50px;
    background: rgb(255,255,255);
    background: linear-gradient(105deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    -moz-transition: background-color .5s;
  }

  .features-item3 {
    text-align: center;
    padding: 30px;
    border-radius: 50px;
    background: var(--secondary);
    background: linear-gradient(105deg, var(--secondary) 0%, var(--primary) 100%);
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -o-transition: background-color .5s;
    -moz-transition: background-color .5s;
    
  }
  
  .features-item:hover {
    background: var(--secondary);
    background: linear-gradient(105deg, var(--secondary) 0%, var(--primary) 100%);
    color: #fff;
  }
  
  .features-item:hover h4 {
    color: #fff;
  }
  
  .features-item:hover p {
    color: #fff;
  }
  
  .features-item:hover .line-dec {
    background-color: rgba(255,255,255,0.3);
  }
  
  .first-feature:hover .icon {
    background-image: url(../imgs/features-icon-white-01.png);
  }
  /* lol  */

  .features-item3 p {
    color: #fff;
  }
  
  .features-item3 .line-dec {
    background-color: rgba(255,255,255,0.3);
  }
  
  .first-feature3 .icon {
    background-image: url(../imgs/features-icon-white-01.png);
  }
  
  .second-feature:hover .icon {
    background-image: url(../imgs/features-icon-white-02.png);
  }
  
  .features-item .number h6 {
    background-repeat: no-repeat;
    width: 110px;
    height: 69px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    line-height: 69px;
    margin-top: -65px;
    margin-bottom: 30px;
  }
  
  .features-item .first-number h6 {
    background-image: url(../imgs/features-number-03.png);
  }
  
  .features-item .second-number h6 {
    background-image: url(../imgs/features-number-03.png);
  }
  
  .features-item .third-number h6 {
    background-image: url(../imgs/features-number-03.png);
  }
  
  .features-item .fourth-number h6 {
    background-image: url(../imgs/features-number-03.png);
  }
  
  .first-feature .icon {
    background-image: url(../imgs/features-icon-black-01.png);
  }
  
  .second-feature .icon {
    background-image: url(../imgs/features-icon-black-02.png);
  }
  
  .features-item .icon {
    width: 63px;
    height: 63px;
    margin: 0 auto;
    transition: all 0.5s;
  }
  
  .features-item h4 {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    color: #2a2a2a;
    position: relative;
    transition: all 0.5s;
  }
  
  .features-item .line-dec {
    width: 100px;
    height: 2px;
    background-color: var(--secondary);
    margin: 30px auto;
    transition: all 0.5s;
  }
  
  .features-item p {
    position: relative;
    margin-top: 0px;
    transition: all 0.5s;
  }
  
  .skills-content {
    position: relative;
    z-index: 1;
    margin-top: -50px;
    background-color: #f5f5f5;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 110px 0px 50px 0px;
  }
  
  .skill-item {
    text-align: center;
  }
  
  .progress {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
  }
  .progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #ddd;
    position: absolute;
    top: 0;
    left: 0;
  }
  .progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .progress .progress-left {
    left: 0;
  }
  .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: var(--primary);
  }
  .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  .progress .progress-right {
    right: 0;
  }
  .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
  }
  .progress .progress-value {
    text-align: center;
    color: #2a2a2a;
    display: flex;
    width: 100%;
    border-radius: 50%;
    font-size: 32px;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 700;
  }
  .progress .progress-value div {
    margin-top: 10px;
  }
  .progress .progress-value span {
    font-size: 12px;
    text-transform: uppercase;
  }
  
  /* This for loop creates the  necessary css animation names 
  Due to the split circle of progress-left and progress right, we must use the animations on each side. 
  */
  .progress[data-percentage="10"] .progress-right .progress-bar {
    animation: loading-1 1.5s linear forwards;
  }
  .progress[data-percentage="10"] .progress-left .progress-bar {
    animation: 0;
  }
  
  .progress[data-percentage="20"] .progress-right .progress-bar {
    animation: loading-2 1.5s linear forwards;
  }
  .progress[data-percentage="20"] .progress-left .progress-bar {
    animation: 0;
  }
  
  .progress[data-percentage="30"] .progress-right .progress-bar {
    animation: loading-3 1.5s linear forwards;
  }
  .progress[data-percentage="30"] .progress-left .progress-bar {
    animation: 0;
  }
  
  .progress[data-percentage="40"] .progress-right .progress-bar {
    animation: loading-4 1.5s linear forwards;
  }
  .progress[data-percentage="40"] .progress-left .progress-bar {
    animation: 0;
  }
  
  .progress[data-percentage="50"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
  }
  .progress[data-percentage="50"] .progress-left .progress-bar {
    animation: 0;
  }
  
  .progress[data-percentage="60"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
  }
  .progress[data-percentage="60"] .progress-left .progress-bar {
    animation: loading-1 1.5s linear forwards 1.5s;
  }
  
  .progress[data-percentage="70"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
  }
  .progress[data-percentage="70"] .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.5s;
  }
  
  .progress[data-percentage="80"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
  }
  .progress[data-percentage="80"] .progress-left .progress-bar {
    animation: loading-3 1.5s linear forwards 1.5s;
  }
  
  .progress[data-percentage="90"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
  }
  .progress[data-percentage="90"] .progress-left .progress-bar {
    animation: loading-4 1.5s linear forwards 1.5s;
  }
  
  .progress[data-percentage="100"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
  }
  .progress[data-percentage="100"] .progress-left .progress-bar {
    animation: loading-5 1.5s linear forwards 1.5s;
  }
  .cssbuttons-io-button {
    background:#f6d673;
    color: var(--fourthly-color);
    font-family: inherit;
    padding: 0.35em;
    /* padding-left: 1.2em; */
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em var(--secondary-color);
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 2.8em;
    cursor: pointer;
    /* width: 65% !important; */
    width: 170px;
}
#prembtn {
  margin-top: -20px;
  width: 211px;
  font-size: 16px;
  margin-left: 71%;
}
.cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em var(--secondary-color);
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #2124b1;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}


.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

a {
    text-decoration: none;
    color:#2124b1;
}

.offcanvas-title{
    color: var(--secondary-color);
}
h3{
  text-align: center;
}

  @keyframes loading-1 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(36);
      transform: rotate(36deg);
    }
  }
  @keyframes loading-2 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(72);
      transform: rotate(72deg);
    }
  }
  @keyframes loading-3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(108);
      transform: rotate(108deg);
    }
  }
  @keyframes loading-4 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(144);
      transform: rotate(144deg);
    }
  }
  @keyframes loading-5 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(180);
      transform: rotate(180deg);
    }
  }
  .progress {
    margin-bottom: 1em;
  }
  
  .text-white {
    color: #fff !important;
    /* margin-right: 442px; */
    /* width: 343px; */
    /* margin-left: -50px; */
}
.text-white2 {
    color: #fff;
    margin-left: -26px;
}

  #scndbtn {
    margin-left: -5px;
    width: 200px;
}
