@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700');

* {
  /* border-radius: 5px !important;
   border: 50px !important; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #080a74;
  --secondary-color: #f6d673;
  --Thirdly-color: #d6d9e0;
  --fourthly-color: #1d1d27;
}

body {
  margin: 0px;
  font-family: "Poppins", sans-serif !important;
  background-image: url(../img/iiiiiim.jpg);

}

/* .menu {
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: end !important;
  background-color: #4CAF50 !important;}



.menu a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: 13px;
  line-height: inherit;

}

.menu .link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12px 36px;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}


.menu .link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0a3cff;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .link:hover {
  text-decoration: none;
}

.menu .link svg {
  width: 14px;
  height: 14px;
  fill: #ffffff;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.menu .item {

  position: relative;
  background-color: #2124b1;
  margin-top: 1%;
  margin-right: 2%;
  border-radius: 0.5rem;
  color: #000000;
}

.menu .item a span {
  color: white;
  text-decoration: none;
}


.menu .item .submenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  border-radius: 0 0 16px 16px;
  left: 0;
  width: 100%;
  overflow: hidden;
  border: 1px solid #cccccc;
  visibility: hidden;
  transform: translateY(-12px);
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
  pointer-events: none;
  list-style: none;
  opacity: 0.8 !important;
  background-color:var(--Thirdly-color);
}

.menu .item:hover .submenu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
  border-top: transparent;
  border-color: #2124b1;
}

.menu .item:hover .link {
  color: #ffffff;
  border-radius: 16px 16px 0 0;
}

.menu .item:hover .link::after {
  transform: scaleX(1);
  transform-origin: right;
}

.menu .item:hover .link svg {
  fill: #ffffff;
  transform: rotate(-180deg);
}

.submenu .submenu-item {
  width: 100%;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link {
  display: block;
  padding: 12px 24px;
  width: 100%;
  position: relative;
  text-align: center;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}


.submenu .submenu-item:last-child .submenu-link {
  border-bottom: none;
}

.submenu .submenu-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  width: 100%;
  height: 100%;
  background-color: #2124b1;
  z-index: -1;
  transform-origin: left;
  transition: transform 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.submenu .submenu-link:hover:before {
  transform: scaleX(1);
  transform-origin: right;
}

.submenu .submenu-link:hover {
  color: #ffffff;
  text-decoration: none;
} */
label {
  /* background-color: red; */
  /* width: 10%; */
}

.height-vh {
  height: 100vh;
}

#comment-container {
  padding: 20px !important;
  background: var(--Thirdly-color);
  /* background-image: linear-gradient(to right top, #080474,#d6d9e0, #1d1d27); */

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 20px;
  margin-top: 100px !important;
  width: 55%;
  margin-left: 21%;
}


.date {
  font-size: 12px;
}

.comment-text {
  font-size: 14px;
  line-height: 1.2rem;
}

.fs-14 {
  font-size: 14px;
}

.name {
  color: #2124b1;
}

.cursor {
  cursor: pointer;
}

.cursor:hover {
  color: blue;
}

.btnn {
  width: 100%;
  /* background-color: #4CAF50; */
  display: flex;
  margin-top: 4%;
  justify-content: space-around;
}

button {
  color: var(--primary-color);
  transition: all 0.3s ease !important;
  font-family: inherit;
  /* margin: 50px; */

}

button:hover {
  /* letter-spacing: 3px; */
  background-color: #f6d573bc;
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(40, 34, 217) 0px 5px 20px 0px;



}

.btn {
  width: 11.5em;
  height: 2.9em;
  margin: 0.5em;
  background: #2124b1;
  border: none;
  border-radius: 0.5rem !important;
  font-size: 18px !important;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  /* margin-left: 150px; */
  margin-top: 50px;
}

.btn a {
  text-decoration: none;
  color: white;

}

.btn a:hover {
  text-decoration: none;
  color: #080a74;
}

button:hover {
  color: var(--primary-color);
}

.btn-outline-primary {
  color: var(--primary-color) !important;
  background-color: transparent;
  background-image: none;
  /* border-color: var(--primary-color) !important; */
  border: 2px solid #080a74 !important;
  margin-left: 15px;
  padding: 0 7px;
}

.btn-outline-primary:hover {
  background-color: var(--secondary-color) !important;
}
.count {
  /* background-color: red; */
  /* width: 3%; */
  /* height: 3%; */
  position: absolute;
  right: 59%;
  /* top: 98%; */
  margin-top: 15px;
}
/* button:after {
  content: "";
  background: #f6d673;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
 } */

/* button:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
 } */
.likebtn {
  color: var(--primary-color);
  background-color: transparent;
  border: none;
  font-size: 22px;
}

.likebtn:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
}


/* laila  */

#name,
#comment {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid white;
}

#submit-comment {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.second .comments {
  border: 1px solid #000000;
  /* border-radius: 10px; */
  margin-top: 20px;
  font-size: 20px;
  height: 95px;
  overflow: auto;
  background-color: white;
  width: 95%;

}

.second .comments p {
  margin-bottom: 10px;
  /* padding-bottom: 10px; */
  padding: 8px;
  border-bottom: 1px solid #000000;
}

.second .comments p:last-child {
  border-bottom: none;
}

.form-control {
  display: block;
  width: 94% !important;
  /* height: calc(2.25rem + 9px) !important; */
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.container-fluid {
  margin-top: 3%;
}

input {
  margin-left: 2% !important;
}
.rounded-circle{
  border-radius: 50%;

}
.mt-2, .my-2 {
  margin-top: .5rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mt-3 img{
  width: 100%;
  margin-right: 15px;
}
#img{
  border-radius: 50%;
  width: 50px;
  position: absolute;
  left: 26%;
  top: 2%;
}
.txt{
  border-radius: 30px;
  padding:10px;
  width: 36%;
  /* height: 5%; */
  border-color:white;
  position: absolute;
  left: 28%;
  top: 2%;
  background-color:white;
} 
.input {
  max-width: 190px;
  display: none;
}

.labelFile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  /* height: 190px; */
  border:none;
  align-items: center;
  text-align: center;
  color: red;
  cursor: pointer;
  position: absolute;
  left: 60%;
  top: 1.5%;
}
#sbmt{
  padding: 7px;
  position: absolute;
  left: 71%;
  top: 3%;
  border: #ced4da;
  border-radius: 5px;
  background-color:#ced4da;
}



@media(max-width :750px){
  .comment-text {
    font-size: 11px;
}
.p-2 {
  padding: -0.5rem !important;
}
.second .comments p {
  font-size: 10px;
}
.form-control ::placeholder{
  font-size: 10px;
}
.date{
  font-size: 9px;
}
}