*{
    margin: 0%;
    padding: 0%;
}

:root {
    --primary-color: #080a74; 
  --secondary-color:#f6d673;
  --Thirdly-color:#d6d9e0 ;
  --fourthly-color:#1d1d27;
  }
img{
    height: 40px;
}
.btn-danger{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: black;
}
.btn-danger:hover{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
th{
    color: var(--primary-color);
}
.container{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
h1{
    text-align: center;
    color: #080a74;
    margin-top: 20px;
}
.txt{
    
}