*{
    margin: 0%;
    padding: 0;
}
:root {
    --primary-color: #080a74; 
  --secondary-color:#f6d673;
  --Thirdly-color:#d6d9e0 ;
  --fourthly-color:#1d1d27;
  }
.container{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 30px;
    /* height: 350px; */
}
.btn-danger{
    /* margin-left: 60%; */
    margin-bottom: 15px;

}

.btn-12{
    margin-top: 10px;
    
}
th{
    color: var(--primary-color);
}
.btn-outline-danger {
    color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-outline-danger:hover{
    background-color: #f6d673;
    border-color: var(--Thirdly-color);
    color: var(--fourthly-color);
}
.btn-danger {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.btn-danger:hover{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--fourthly-color);
}

#addbtn{
    margin-left: 45%;
    margin-top: 50px;
}






:root {
    --primary-color: #080a74;
    --secondary-color: #f6d673;
    --Thirdly-color: #d6d9e0;
    --fourthly-color: #1d1d27;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
}

.user-img {
    width: 72px;
    border-radius: 100%;
    border: 1px solid #eee;
    height: 72px;
    /* margin-left: 5px; */
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 190px;
    /* width: 250px; */
    background-color: var(--primary-color);
    padding: .4rem .8rem;
    transition: all 0.5s ease;


}








.sidebar #btn {
    position: absolute;
    color: white;
    top: .4rem;
    left: 90%;
    font-size: 1.2red;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}



.sidebar .top .logo {
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 1;
}


.top .logo i {
    font-size: 2rem;
    margin-right: 5px;
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p {
    color: #fff;
    opacity: 1;
    margin-left: 1rem;

}
.top .logo .h1, h1 {
    font-size: 23px;
    margin-left: -12%;
    margin-top: 13%;
}

.top .logo h1 span {
    font-size: 13px;
    margin-left: -6%;
}

.bold {
    font-weight: 600;
    color: var(--secondary-color) !important;
}

.sidebar p {
    opacity: 1;
}
.sidebar .logo img {
    width: 70%;
    height: 181%;
    border-radius: 100%;
    margin-left: -17%;
    margin-top: 5%;
}
.sidebar ul {
    margin-left: -31%;
    margin-top: -10%;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;

}


.sidebar ul li a {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;

}


.sidebar ul li a:hover {
    background-color: white;
    color: #12171e;


}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}


.sidebar .nav-item {
    opacity: 1;
    font-size: 13px !important;

}
.dropdown-menu.show {
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
    transform: translate3d(17.8px, 51.4px, 0px) !important;
    background-color: rgba(0, 0, 0, 0.429);
    border: none;

}
/* [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 50px;
} */
.btn-check:checked{
    border: none;
}
.dropdown-toggle {
    background-color: transparent;
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 54px;
    border: none;
    font-size: 25px;
  }
  .dropdown-toggle:hover{
    background-color: transparent;
    box-shadow: none;
    color: black;
  }
  button:hover{
    background-color: transparent;
  }
  .btn-check:checked+.btn, .btn.active, .btn.show,  :not(.btn-check)+.btn:active {
    color: black;
    background-color: transparent;
    border-color:transparent !important     ;
    border: none !important;
  }
  
/* .btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg:none;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg:none;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6c757d;
    --bs-btn-disabled-border-color: #6c757d;
    margin-left: 9%;
    display: flex;
    flex-direction: row;
    gap: 4%;
    
} */
.dropdown ul li a {
    color:var(--secondary-color);
    margin-top: -16px;
    font-size: 12px;
}




.navbar-expand-lg .navbar-nav .nav-link {
    color: white;
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
}
/* .btn-outline-success {
    --bs-btn-color: var(--secondary-color);
    --bs-btn-border-color:none;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg:none;
    --bs-btn-hover-border-color:none;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg:none;
    --bs-btn-active-border-color:none;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:none;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color:none;
    --bs-gradient: none;
    border: solid 2px;
} */



.main-content {
    position: relative;
    /* background-color: red; */
    min-height: 100vh;
    top: 0;
    left: 190px;
    transition: all 0.5 ease;
    width: calc(100% - 190px);
    padding: 1rem;
}

.container-fluid {
    margin: 0;
}


nav.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: var(--primary-color)!important;
    margin: -16px !important;

}

.all {
    margin-top: 5%;
    /* background-color: blue; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 3px, rgba(0, 0, 0, 0.12) 0px -11px 88px, rgba(0, 0, 0, 0.12) 0px -9px 8px, rgba(0, 0, 0, 0.17) 0px 14px 16px, rgba(0, 0, 0, 0.09) 0px 8px 5px;

}

.profilepic{
    display: flex;
    justify-content: end;
    width: 35px;
    height: 35px;
border-radius: 50%;
}
img{width: 100%;}



@media(max-width:750px) {
    .sidebar {
        width: 90px;
        height: 120vh;
        z-index: 1000;

    }

    .sidebar~.main-content {
        left: 90px;
        width: 100%;
    }

    .sidebar .nav-item {
        display: none;
    }

    .sidebar p {
        opacity: 0;
        display: none;
    }

    .sidebar .top .logo {
        opacity: 1;
        flex-direction: column;
    }

    .sidebar #btn {
        left: 50%;

    }

    .sidebar ul {
        margin-left: -47%;
    }

    .sidebar ul li .tooltip {
        position: absolute;
        left: 125px;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
        border-radius: .6rem;
        padding: .4rem 1.2rem;
        line-height: 1.8rem;
        z-index: 20;
        opacity: 0;

    }

    .sidebar ul li:hover .tooltip {
        opacity: 1;

    }

    nav.navbar.navbar-expand-lg.bg-body-tertiary {
        display: none;
    }

    th h3 {
        font-size: 13px;
        color: var(--primary-color);
        text-align: center;
    }

  
    .table-striped>tbody>tr:nth-of-type(odd)>* {
        --bs-table-color-type: var(--bs-table-striped-color);
        --bs-table-bg-type: var(--bs-table-striped-bg);
        font-size: 13px;
    }

    .user-img {
        width: 50px;
        border-radius: 100%;
        border: 1px solid #eee;
        height: 50px;
        margin-left: 5px;
    }
    .all{
        margin-top: 2%;
    }
    .sidebar .logo span{
        display: none;
    }
    .sidebar .logo img {
        width: 137%;
        height: 186%;
        border-radius: 100%;
        margin-top: -16%;
    }
    .dropdown-toggle::after {
        position: absolute;
        top: 25px;
        right: -52px;
    }
    
    .top .logo h1{
        display: none;
    }

    .dropdown-menu.show {
        position: absolute;
        inset: 0px auto auto 0px;
        margin: 0px;
        transform: translate3d(-9.2px, 43.4px, 0px) !important;
        background-color: rgba(0, 0, 0, 0.94) !important;
        border: none;
    }
.btns{
    display: flex;
    justify-content: center;
    align-items: center;
}
#addbtn {
    margin-left:0;
    margin-top: 10%;
}
}